{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignIn&SignUp</title>
    <link rel="stylesheet" type="text/css" href="..{% static 'style.css' %}" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  
  </head>
  <body>
    <div class="container">
      
      <nav class="menu">
        <a href="#home">Home</a>
        <a href="#services">Services</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </nav>
      <h1>Dashboard</h1>
      <div class="forms-container">
        <div class="signin-signup">

        <div class="content">
          <div class="msj">
            <p id="msj"></p>
          </div>
        <button id="createBtn" onclick="createForm(event)">Crear projecto</button>

        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Imagec Id</th>
              <th>Ip</th>
              <th>Ports</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="projects-table-body">

          </tbody>
        </table>
      </div>
      <!-- <div class="panels-container">

        <div class="panel left-panel">

        </div>
            <img src="..{% static 'img/log.svg' %}" class="image" alt="">
        </div>

        <div class="panel right-panel">
            <div class="content">
                <h3>One of us?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minus natus est.</p>
                <button class="btn transparent" id="sign-in-btn">Sign In</button>
            </div>
            <img src="..{% static 'img/register.svg' %}" class="image" alt="">
        </div>
      </div> -->
      
    </div>
    <script src="..{% static 'app.js' %}"></script>
    <script src="..{% static 'dashboard.js' %}"></script>
  </body>
</html>
